@import '../../../../resources';
.investment {
  color: #fff;
  padding: 50px 20px;
  background-color: #1011139f;
  @include Exo;
  .top {
    text-align: center;
    padding-bottom: 30px;
    h1 {
      font-size: 50px;
      font-weight: 600;
      b {
        color: #cca354;
      }
      @include mobile-6 {
        font-size: 30px;
      }
    }
    p {
      font-size: 16px;
      line-height: 30px;
      padding-bottom: 15px;
      @include mobile-6 {
        font-size: 14px;
      }
    }
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      padding: 30px;
      border: 3px solid #cca354;
      width: 23%;
      box-shadow: 0 0 15px #cca35480;
      border-radius: 8px;
      background-image: url('../../../../images/plans.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      min-height: 450px;
      margin-bottom: 50px;
      @include mobile-2 {
        width: 32%;
      }
      @include mobile-4 {
        width: 47%;
      }
      @include mobile-7 {
        width: 100%;
      }
      h1 {
        font-size: 32px;
        color: #cca354;
        margin-bottom: 8px;
        font-weight: 600;
      }
      ul {
        margin-top: 30px;
        list-style: none;
        li {
          padding: 10px 0;
          border-bottom: 1px solid #cca35459;
        }
      }
      h2 {
        font-weight: 600;
        font-size: 24px;
        color: #cca354;
        margin-top: 50px;
      }
      button {
        padding: 10px 30px;
        background-color: #cca354;
        box-shadow: 0px 10px 20px 0px #00000026;
        border-radius: 5px;
        transition: all 0.3s;
        color: #000000;
        margin-top: 24px;
        font-weight: 400;
        border: none;
        cursor: pointer;
      }
    }
  }
}
