@import '../../../../resources';
.counter-sec {
  color: #fff;
  padding: 30px 20px;
  @include Exo;
  .wrap {
    display: flex;
    justify-content: space-between;
    @include mobile-6 {
      flex-wrap: wrap;
    }
    div {
      text-align: center;
      width: 30%;
      padding: 0 10px;
      &:nth-child(1) {
        border-right: 4px solid #cca354;
      }
      &:nth-child(2) {
        border-right: 4px solid #cca354;
      }
      &:nth-child(3) {
        border-right: 4px solid #cca354;
      }
      @include mobile-6 {
        margin-bottom: 30px;
        padding: 20px;
        width: 100%;
        &:nth-child(1) {
          border-right: none;
          border-bottom: 4px solid #cca354;
        }
        &:nth-child(2) {
          border-right: none;
          border-bottom: 4px solid #cca354;
        }
        &:nth-child(3) {
          border-right: none;
          border-bottom: 4px solid #cca354;
        }
      }
      p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 10px;
      }
      h1 {
        font-size: 30px;
        color: #cca354;
      }
    }
  }
}
