@import '../../../../resources';
.about {
  background-image: url('../../../../images/about.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: right;
  @include Exo;
  color: #fff;
  @include mobile-2 {
    background: linear-gradient(#000000c1, #000000c1),
      url('../../../../images/herobg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .wrap {
    width: 50%;
    padding-right: 20px;
    @include mobile-6 {
      width: 100%;
      padding: 100px 30px;
    }
    h1 {
      font-size: 50px;
      font-weight: 600;
      padding-bottom: 20px;
      b {
        color: #cca354;
      }
      @include mobile-6 {
        font-size: 30px;
      }
    }
    p {
      font-size: 16px;
      line-height: 30px;
      padding-bottom: 15px;
      @include mobile-6 {
        font-size: 14px;
      }
    }
    button {
      padding: 10px 20px;
      font-size: 17px;
      border-radius: 10px;
      margin-top: 30px;
      @include Exo;
      cursor: pointer;
      margin-left: 10px;
      background: linear-gradient(83deg, #cca354 0%, #d0aa62 100%);
      border: none;
      color: #000;
      font-weight: 600;
      &:hover {
        background: none;
        color: #cca354;
        border: 1px solid #cca354;
      }
    }
  }
}
