.Dashboard{
    background: #e0e8f3;
    min-height: 100vh;
}
.name{
    color: #155d33;
    padding: 20px 30px;
    font-family: 'Lato', sans-serif;
}
.user-activecard{
    padding: 0px 30px;
    max-width: 500px;
}
.user-activecard .activecard-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activecard-wrapper .activecard{
    width: 130px;
}
.dashboard-one{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
}
.dashboard-one .left{
    background: white;
    width: 70%;
    padding: 20px 30px;
    height: 390px;
    overflow-y: auto;
}
.dashboard-one .left .first{
    display: flex;
    justify-content: space-between;
    color: #155d33;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}
.dashboard-one .left .first .a-tag{
    text-decoration: none;
    font-size: 13px;
    color: #219451;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
}
.dashboard-one .left .table{
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.dashboard-one .left .tr{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.dashboard-one .left .tr .td, .dashboard-one .left tr .th{
    width: 13.5%;
    text-align: left;
    padding: 8px;
    margin-right: 20px;
}
.dashboard-one .left tr .th{
    color: #219451;
}
.dashboard-one .left .tr .td1, .dashboard-one .left .th1{
    width: 22.5%;
    text-align: left;
    padding: 8px;
    margin-right: 20px;
}
.dashboard-one .left .th1{
    color: #219451;
}

.dashboard-one .right{
    width: 28%;
}
.btc{
    padding: 0 20px;
}
.cryptochart-wrapper{
    height:560px;
    background-color: #1D2330;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #282E3B;
    border-radius: 4px;
    text-align: right;
    line-height:14px;
    font-size: 12px;
    font-feature-settings: normal;
    text-size-adjust: 100%;
    box-shadow: inset 0 -20px 0 0 #262B38;
    padding:1px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.cryptochart{
    height:540px;
    padding:0px;
    margin:0px;
    width: 100%;
}
.footer{
    padding: 0 20px;
}

@media screen and (max-width:950px){
    .dashboard-one .left {
        width: 100%;
        margin-bottom: 20px;
    }
    .dashboard-one .right {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:450px){
    .dashboard-one {
        padding: 20px 5px;
    }
    .dashboard-one .left {
        padding: 20px 10px;
    }
    .btc {
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .dashboard-one .left .first .h1{
        font-size: 16px;
    }
    .dashboard-one .left .first .a-tag{
        font-size: 13px;
        padding-top: 5px;
    }
    .dashboard-one .left{
        height: 450px;
    }
    .name{
        padding: 20px 10px;
    }
    .name .p-tag{
        font-size: 13px;
    }
}