.UserDetails {
  background-color: #333;
  min-height: 100vh;
}
.description {
  padding: 10px 30px;
  color: #cca354;
  font-family: 'Lato', sans-serif;
}
.user {
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user .text {
  width: 47%;
  border: 1px solid #ddd;
  background: #fff;
  font-family: 'Lato', sans-serif;
  padding: 7px 5px;
  margin-bottom: 10px;
  color: #666;
}
.dashboard-one {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
}
.dashboard-one .left {
  background: #cca354;
  width: 70%;
  padding: 20px 30px;
  height: 390px;
  overflow-y: auto;
}
.dashboard-one .left .first {
  display: flex;
  justify-content: space-between;
  color: #f0e3cc;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
}
.dashboard-one .left .first .a-tag {
  text-decoration: none;
  font-size: 13px;
  color: #f0e3cc;
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
}
.dashboard-one .left .table {
  width: 100%;
  font-family: 'Lato', sans-serif;
}
.dashboard-one .left .tr {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.dashboard-one .left .tr .td,
.dashboard-one .left tr .th {
  width: 25%;
  text-align: left;
  color: #f0e3cc;
}
.dashboard-one .left tr .th {
  color: #f0e3cc;
}
.daily {
  padding: 10px 30px;
  color: #f0e3cc;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.daily .p-tag {
  padding-bottom: 10px;
}
.daily .input {
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.daily .user-button {
  padding: 10px;
  background: #cca354;
  color: #fff;
  border: none;
  cursor: pointer;
}
.hshshs {
  color: #cca354;
}
.activate {
  padding: 10px 30px;
  color: #f0e3cc;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.bonus {
  padding: 10px 30px;
  color: #cca354;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.bonus .p-tag {
  padding-bottom: 10px;
}
.bonus .input {
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.bonus .user-button {
  padding: 10px;
  background: #cca354;
  color: #fff;
  border: none;
  cursor: pointer;
}
.deactive {
  padding: 10px 30px;
  color: #cca354;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.deactive .p-tag {
  padding-bottom: 10px;
}
.deactive .user-button {
  padding: 10px;
  background: red;
  color: #fff;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 950px) {
  .dashboard-one .left {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .user .text {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .user,
  .daily,
  .bonus {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .user .text .p-tag {
    font-size: 11px;
  }
  .user .text .h1-tag {
    font-size: 17px;
  }
  .dashboard-one {
    padding: 20px 5px;
  }
  .dashboard-one .left {
    padding: 20px 10px;
  }
  .btc {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .dashboard-one .left .first .h1 {
    font-size: 16px;
  }
  .dashboard-one .left .first .a-tag {
    font-size: 13px;
    padding-top: 5px;
  }
  .dashboard-one .left {
    height: 450px;
  }
}
