.foot{
    text-align: center;
    background: #000;
    color: #fff;
}
.whatsapp{
    background: #25D366;
    width: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    top: 80%;
    position: fixed;
    margin-left: 30px;
}
.whatsapp .img{
    width: 30px;
}
.cryptolive-wrapper{
    background-color: #1D2330; 
    overflow: hidden; 
    box-sizing: border-box;
    border: 1px solid #282E3B; 
    border-radius: 4px; 
    text-align: right; 
    line-height: 14px;
    font-size: 12px; 
    font-feature-settings: normal;
    text-size-adjust: 100%; 
    box-shadow: inset 0 -20px 0 0 #262B38;
    padding: 1px;
    padding: 0px; 
    margin: 0px; 
    width: 100%;
}

.cryptolive{
    height: 40px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}