.withdraw {
  background-color: transparent;
  background-image: url('../../images/plans.png');
  background-size: cover;
  padding: 50px 50px;
  text-align: center;
  min-height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.withdraw .button {
  padding: 12px 35px;
  border-radius: 5px;
  background-color: #cca354;
  box-shadow: 0px 10px 20px 0px #00000026;
  transition: all 0.3s;
  color: #000000;
  border: none;
  cursor: pointer;
  margin-right: 50px;
  font-weight: 600;
  font-size: 20px;
  color: #333;
}

.withdraw .button:hover {
  background: #f0e3cc;
  border: 1px solid #cca354;
}
.withdraw-transfer {
  background-image: url('../../images/plans.png');
  background-size: cover;
  padding: 50px 50px;
  min-height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.withdraw-transfer form {
  width: 100%;
  max-width: 800px;
}
.withdraw-transfer form .with-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.withdraw-transfer form .with-wrap .input-wrapper {
  padding-bottom: 30px;
  width: 48%;
  text-align: left;
}
.withdraw-transfer form .with-wrap .input-wrapper p {
  color: #cccccc;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}
.withdraw-transfer form .with-wrap .input-wrapper input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid rgba(204, 163, 84, 0.45);
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  min-height: 50px;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
}
.withdraw-transfer form .button {
  padding: 12px 35px;
  border-radius: 5px;
  background-color: #cca354;
  box-shadow: 0px 10px 20px 0px #00000026;
  transition: all 0.3s;
  color: #000000;
  border: none;
  cursor: pointer;
}
.withdraw-transfer .home-btn {
  padding: 12px 35px;
  border-radius: 5px;
  background-color: #cca354;
  box-shadow: 0px 10px 20px 0px #00000026;
  transition: all 0.3s;
  color: #000000;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .withdraw-transfer form .with-wrap .input-wrapper {
    width: 100%;
  }
}
